*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #2f5cf1;
    margin-right: 30px ;
}
h1{
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}
.card{
    /* height: 170px; */
    border: none;
    border-radius: 10px;
    background-color: white;
    margin: auto;
}
.image{
    min-width: 80px;
    margin-right: 20px;
}
.starts{
    background-color: white !important;
    color: black !important;
}
.article{
    font-size: 10px;
    color: #a1baab;
}
.text-left{
    text-align: left;
    padding-left: 10px;
    font-size: 1.2rem;
    color: rgb(0, 1, 3);
}
.textleft{
    text-align: left;
    padding-left: 10px;
    color: rgb(183, 198, 199);
}
.number1{
    font-weight: 500;
}
.followers{
    font-size: 10px;
    color: #a1baab;
}
.number2{
    font-weight: 500;
}
.rating{
    font-size: 10px;
    color: #a1baab;
}
.number3{
    font-weight: 500;
}
.following{
    font-size: 10px;
    color: #a1baab;
}
h5{
    font-size: 15px;
    color: #a1baab;
    padding-left: 2px;
}
.rounded{
    border-radius: 50%;
    width: 95%;
    height: 90%;
    /* margin-left: 10px; */
}